header#header.header.d-flex.align-items-center.light-background.sticky-top
    .container-fluid.position-relative.d-flex.align-items-center.justify-content-between
        a.logo.d-flex.align-items-center.me-auto.me-xl-0(href="index.html")
            // Uncomment the line below if you also wish to use an image logo
            // <img src="/img/logo.png" alt="">
            h1.sitename Kelly
        nav#navmenu.navmenu
            ul
                li
                    a.active(href="index.html") Home
                li
                    a(href="about.html") About
                li
                    a(href="resume.html") Resume
                li
                    a(href="services.html") Services
                li
                    a(href="portfolio.html") Portfolio
                li.dropdown
                    a(href="#")
                        span Dropdown
                        i.bi.bi-chevron-down.toggle-dropdown
                    ul
                        li
                            a(href="#") Dropdown 1
                        li.dropdown
                            a(href="#")
                                span Deep Dropdown
                                i.bi.bi-chevron-down.toggle-dropdown
                            ul
                                li
                                    a(href="#") Deep Dropdown 1
                                li
                                    a(href="#") Deep Dropdown 2
                                li
                                    a(href="#") Deep Dropdown 3
                                li
                                    a(href="#") Deep Dropdown 4
                                li
                                    a(href="#") Deep Dropdown 5
                        li
                            a(href="#") Dropdown 2
                        li
                            a(href="#") Dropdown 3
                        li
                            a(href="#") Dropdown 4
                li
                    a(href="contact.html") Contact
            i.mobile-nav-toggle.d-xl-none.bi.bi-list
        .header-social-links
            a.twitter(href="#")
                i.bi.bi-twitter-x
            a.facebook(href="#")
                i.bi.bi-facebook
            a.instagram(href="#")
                i.bi.bi-instagram
            a.linkedin(href="#")
                i.bi.bi-linkedin