extends base

block append head

block content
    main.main
        section#resume.resume.section
            .container.section-title(data-aos="fade-up")
                h2 Resume
                p Software Engineer with 2 years of experience in Backend Developer and 1 year as Fullstack Developer. Proven in building scalable web applications and enhancing user engagement. Passionate about innovation.
            .container
                .row
                    .col-lg-6(data-aos="fade-up", data-aos-delay="100")
                        h3.resume-title Education
                        .resume-item
                            h4 Master of Fine Arts &amp;amp; Graphic Design
                            h5 2015 - 2016
                            p
                                em Rochester Institute of Technology, Rochester, NY
                            p Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend
                    .col-lg-6(data-aos="fade-up", data-aos-delay="200")
                        h3.resume-title Professional Experience
                        .resume-item
                            h4 Senior graphic design specialist
                            h5 2019 - Present
                            p
                                em Experion, New York, NY 
                            ul
                                li Lead in the design, development, and implementation of the graphic, layout, and production communication materials
                                li Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. 
                                li Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design
                                li Oversee the efficient use of production project budgets ranging from $2,000 - $25,000
                        .resume-item
                            h4 Graphic design specialist
                            h5 2017 - 2018
                            p
                                em Stepping Stone Advertising, New York, NY
                            ul
                                li Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).
                                li Managed up to 5 projects or tasks at a given time while under pressure
                                li Recommended and consulted with clients on the most appropriate graphic design
                                li Created 4+ design presentations and proposals a month for clients and account managers