extends base

block append head

block content
    main.main
        section#resume.resume.section
            .container.section-title(data-aos="fade-up")
                h2 Resume
                p Software Engineer with 2 years of experience in Backend Developer and 1 year as Fullstack Developer. Proven in building scalable web applications and enhancing user engagement. Passionate about innovation.
            .container
                .row
                    .col-lg-6(data-aos="fade-up", data-aos-delay="100")
                        h3.resume-title Education
                        .resume-item
                            h4 Bachelor Degree Informatics System (GPA 3.632/4.0)
                            h5 2016 - 2021
                            p
                                em University of Surabaya(UBAYA), Surabaya, East Java
                    .col-lg-6(data-aos="fade-up", data-aos-delay="200")
                        h3.resume-title Professional Experience
                        .resume-item
                            h4 Junior Fullstack Developer
                            h5 Aug 2023 - Aug 2024
                            p
                                em Surabaya, East Java, Indonesia (Remote) 
                            ul
                                li Developed and migrated customized code from Aquila to Laravel, reduced the learning curve from the previous framework by 10%.
                                li Reviewed and optimized code from other developers to ensure the best solutions.
                                li Created a custom Composer package for future projects, enabled code reuse and improved efficiency across similar functions.
                        .resume-item
                            h4 Junior - Associate Software Backend Developer
                            h5 June 2021 - June 2023
                            p
                                em Tangerang, Jakarta, Indonesia (remote)
                            ul
                                li Learn and utilize Docker for containerization.
                                li Assist senior developers in created and overriding functions for deployed approximately three websites online.
                                li Develop and update technical documentation.
                                li Use GraphQL to build APIs and customize third-party APIs.
                        .resume-item
                            h4 Junior Software Engineer
                            h5 March 2021 - June 2021
                            p
                                em Surabaya, East Java, Indonesia
                            ul
                                li Collaborate with the engineering team and UI/UX designers to develop an internal web application.
                                li Assist in developed a Flutter app to manage tournament operations.